body {
    margin: 0;
    padding: 0;
}

#generator {
    padding: 10px;
    margin-left: 20px;
}

#output-container {
    display: flex;
}

.scheme-output {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border: solid 1px black;
    border-radius: 2px;
    flex-direction: column;
    margin: 5px;
}

.output-text, .output-hex {
    text-align: center;
    
}